services:
  # The Backend (Producer)
  detector:
    build: .
    image: leak-detector:v1 
    privileged: true
    pid: "host"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - OLLAMA_HOST_URL=http://192.168.5.2:11434
      - TARGET_SOURCE_PATH=/app/targets/leaker.cpp
    volumes:
      # ONLY mount the specific kernel/eBPF folders needed
      - /lib/modules:/lib/modules:ro
      - /usr/src:/usr/src:ro
      - /sys/kernel/debug:/sys/kernel/debug:rw
      - /proc:/proc:ro
      # Mount your project folders
      - ./data:/app/data
      - ./targets:/app/targets
      - ./src:/app/src
      - /lib/aarch64-linux-gnu:/host/lib:ro

  # The Frontend (Consumer)
  dashboard:
    image: leak-detector:v1 
    privileged: true # REQUIRED for eBPF
    pid: "host"
    entrypoint: []
    command: streamlit run src/dashboard/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TARGET_SOURCE_PATH=/app/targets/leaker.cpp
      - OLLAMA_HOST_URL=http://192.168.5.2:11434
    volumes:
      - /lib/modules:/lib/modules:ro
      - /usr/src:/usr/src:ro
      - /sys/kernel/debug:/sys/kernel/debug:rw
      - /proc:/proc:ro
      - ./src:/app/src
      - ./data:/app/data
      - ./targets:/app/targets